* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tenor Sans', sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(68, 66, 129, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  width: 100vw;
  height: 100vh;
}

.header {
  padding: 20px;
  width: 100vw;
  background-color: #d8daf6;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d8daf6;
  border: 0.1px solid #a1a9c4;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #a1a9c4;
  color: #fff;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
}

#app,
#container {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#back-home-btn {
  align-items: center;
  gap: 2px;
  position: absolute;
  left: 10px;
}

#container-patient-area,
#container-doctor-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.item,
.item-appointments {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dotted cornflowerblue;
  padding: 20px;
  border-radius: 30px;
  gap: 10px;
  width: 250px;
  height: 400px;
  margin: 15px;
}

input[type='text'],
input[type='number'],
select {
  padding: 6px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(159, 186, 237, 0.5);
  color: rgb(57, 36, 95);
  background-color: #ebe7f3;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 4px rgb(57, 36, 95);
}

.item-appointments {
  width: 100%;
  height: fit-content;
}

.item-appointments p {
  font-size: 16px;
  text-align: left;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

select,
input {
  width: 200px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Estilo para as células da tabela */
.table td:nth-child(n + 1):nth-last-child(n + 3),
.table th {
  padding: 12px;
  border: 1px solid #a1a9c4;
  text-align: left;
}

/* Cor de fundo para as células de cabeçalho */
.table th {
  background-color: #a1a9c4;
  color: #fff; /* Cor do texto no cabeçalho */
}

/* Cor de fundo alternada para as linhas da tabela */
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Efeito de hover nas linhas da tabela */
.table tr:hover {
  background-color: #cfd8dc;
}

.title-table {
  width: 100%;
  background-color: rgb(111, 94, 127);
  text-align: center;
  color: #f2f2f2;
  padding: 12px;
  border: 1px solid #a1a9c4;
  font-weight: 700;
  letter-spacing: 1px;
}

.hide {
  display: none;
}

.block {
  display: block;
}
